*
{
  margin: 0; padding: 0;
}
    

			/***1024px***/



@media only screen and (max-width: 1170px)
{   
    .container { width: 1024px; }
    /***header***/
   
}



			/***768px***/



@media only screen and (max-width: 1023px)
{ 
    .container { width: 768px; }

    /***header***/
     
}   



			/***568px***/



@media only screen and (max-width: 767px)
{
    .container { width: 568px; }

    /***header***/
    
    
}



			/***320px***/



@media only screen and (max-width: 567px)
{
    .container { width: 320px; }

    /***header***/
        
}